body {
   font-family: 'Rubik', sans-serif;
}

h3 {
   color: #202020;
}

header {
   background-color: #F6F6F9;
}

span {
   color: #7A7A7A;
}

time {
   color: #7688A4;
}

p {
   color: #434343;
}

nav ul li a {
   color: #515151;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

.header {
   display: flex;
   flex-wrap: wrap row;
   justify-content: space-between;
}

.kurs-valut {
   display: flex;
}

.nav-list {
   display: flex;
   flex-wrap: wrap row;
   justify-content: space-around;
}

.main-button {
   background-color: #1E96C8;
}

.main-button a {
   color: #FFFFFF;
}

.covid-section {
   display: flex;
   flex-wrap: wrap row;
}

.covid-section dl {
   display: flex;
}

.covid dt {
   color: #DB0000;
}

.recovered dt {
   color: #05B135;
}

.news-section h3 {
   color: #202020;
}

.news-section ul {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}


.notfilication-section {
   background-color: #EFBA54;
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: space-evenly;
}

.notfilication-section button {
   background-color: rgba(255, 139, 54, 0.9);
   color: #ffffff
}

.all-news {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.second-news__item a {
   display: flex; 
   width: 800px;
}



.second-news2 {
   max-width: 400px;
   background-color: #F6F6F9;
}

.second-news_section h3 {
   color: #202020;
   display: flex;
   flex-wrap: wrap-reverse;
}

.second-news_section button {
   background-color: #295093;
   color: #ffffff;
}

.reklama {
   display: flex;
   flex-wrap: wrap-reverse;
   justify-content: space-evenly;
}

.reklama h2 {
   color: #295093;
}

.reklama p {
   color: #333333;
}

footer {
   background-color: #295093;
}

.footer-logo {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.footer-about {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.footer-about__item {
   max-width: 300px;
}

footer p {
   color: #ffffff;
}

footer a {
   color: #ffffff;
}

footer button {
   background-color: #ffffff;
}

footer button a {
   color: #295093;
}

footer button img {
   background-color: #295093;
}

/* --------------------------------------TIRDH PAGE--------------------------------------- */

.main-div {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.main-section {
   display: flex;
   flex-wrap: wrap;
   max-width: 800px;
}

.news-in-theme {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.hashtag p {
   color: #28508E;
}

.popular-news h2 {
   color: #202020;
}

.popular-news a {
   color: #202020;
}

.popular-news time {
   color: #7688A4;
}

.news-in-theme h3 {
   color: #202020;
}

.news-in-theme a {
   color: #202020;
}

.news-in-theme time {
   color: #7688A4;
}